.item {
  width: 45%;
  padding: 1rem;
  border: 1px solid #28a745;
  border-radius: .25rem;
  cursor: pointer;
}

.title {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.categoryName {
  padding: 0.3rem;
  background-color: darkslategray;
  border-radius: .25rem;
  color: white;
  font-weight: 400;
}

.content {
  display: inline-block;
	padding: 0.5rem 0;
	color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.image {
	width: 100%;
}
