.navbar {
	display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 0 2rem;
	height: 46px;
    max-height: 46px;
	background-color: #28a745;
}

.navbar__links a,
.navbar__controls a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: white;
	margin: auto .5rem;
	font-size: 1rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
	border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	padding: .5rem;
	border-radius: 0.25rem;
	font-weight: 400;
}

.navbar__links a:hover,
.navbar__controls a:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.navbar__controls:not(:last-child) {
	margin-right: 1rem;
}