.wrapper {

}

.title {
    padding-bottom: 1rem;
}

.info {
    padding-bottom: 1rem;
    color: gray;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content {
    text-align: center;
    padding-bottom: 1rem;
}

.content__text {
    text-align: start;
    padding-bottom: 1rem;
}

.content__text p {
    margin-bottom: 1rem;
}

.image {
    max-width: 75%;
    width: 100%;
}

.delimer {
    color: gray;
}